.title-global {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

}

.options {
  margin-bottom: 20px;
  gap: 50px;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .options{
    justify-content: space-evenly;
  }
}

